.need.col-12 {
    margin: 16px 0;

    .item {
        a {
            width: 120px;
            height: 120px;
            margin: 0 auto;
            overflow: hidden;

            img,
            .need-img {
                width: 120px;
                height: 120px;
                -o-object-fit: contain;
                object-fit: contain;
                background: #fff;
                border-radius: 10px;

            }

        }
    }
}